.appContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.canvasContainer {
    flex: 1;
    position: relative;
    display: flex;
    align-items: stretch; 
    justify-content: stretch; 
    background-color: #f0f0f0; 
    overflow: hidden; 
}

#myCanvas {
    flex: 1;
    border: 1px solid;
}

.buttonOverlay {
    position: absolute; 
    bottom: 10px;
    left: 10px;
    z-index: 2;
    display: flex;
    gap: 10px;
}

.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.chatMessages {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}
